@model BookingMV

<style>
    .doctor-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    }

    .doctor-card:hover {
    transform: scale(1.02);
    }

    .doctor-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    }

    .doctor-body {
    padding: 16px;
    }

    .doctor-name {
    font-weight: bold;
    font-size: 1.2rem;
    }

    .doctor-specialization {
    color: #666;
    }




</style>


<!-- Filter Section -->
<form action="Booking">
    <div class="row">


        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Doctor Name" name="DoctorName" value="@Model.DoctorName">
        </div>
        <select class="col-md-3" class="form-control" asp-for="specialicationId" asp-items="Model.DoctorSpec">
            <option value="0">All specialications</option>
        </select>
        <div class="col-md-2">
            <button type="submit" class="btn btn-dark w-100">Filter</button>
        </div>
    </div>
</form>



<div class="container my-5">
    <h1 class="mb-5">Book an appointment</h1>
    <div class="row">

      @if(Model.Doctors != null) {
        foreach (var doctor in Model.Doctors)
        {
            <div class="col-4">
                <div class="doctor-card">
                    <img src="~/Images/@doctor.Img" class="img-fluid" style="height:400px;" />
                    <div class="doctor-body">
                        <p class="doctor-name">@doctor.Name</p>
                        <p class="doctor-specialization">@doctor.dcotorSecialicationType.Name</p>
                    </div>
                    <div >
                        <a class="btn btn-outline-primary m-3   " asp-action="BookAppointment" asp-route-DoctorId="@doctor.Id"> Book Now</a>
                    </div>
                </div>
            </div>
        }
        }
    
    </div>
 
        @if (ViewBag.PageCount > 1)
        {
            <ul class="pagination mt-5">
            @for (int i = 1; i <= ViewBag.PageCount; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")"><a class="page-link" asp-route-page="@i">@i</a></li>
            }
            </ul>
        }
    </div>
